:root{
    --red: #e50914;
    --black: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base*/

body{
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

header .logo {
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: var(--red);
}


header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}


/* Filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capitan-fondo.jpg);
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }

.filme-principal2{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/eternals.jpg);
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
    }
 
.filme-principal .descripcion{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal2 .descripcion{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal2 .descripcion2{
    margin-bottom: 5px;
    margin-top: 5px;
}

.titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo2{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

.boton{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.boton:hover{
    background-color: white;
    color: black;
}

.boton i{
    margin-right: 5px;
}

.container{
    margin-left: 15px;
    background-color: none;
}

.filme-principal .container{
    width: 60%;
}


/* miniaturas de filmes*/

.box-filme{
    height:100%;
    width: 100%;
    display: block;
}

.carrusel-filmes{
    margin-top: 15px;
}

.carrusel-filmes .subtittle{
    display: flex;
    margin: 10px 15px;
    align-items: center;
}

/*--- Redes---*/
.redes{
    margin-left: 25px;
}
.redes ul a{
    color: #AAA;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 3px;
}



/* Footer */

footer{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    justify-content: space-between;
    padding: 20px;
    list-style-type: none;
}

footer .enlaces .items li{
    list-style-type: none;
    text-decoration: none;
    color: #AAA;
}
 
footer .enlaces .items li a{
    text-decoration: none;
    color: #AAA;
    font-size: 12px;
}

footer .enlaces .items li a:hover{
    color: #fff;
}

.copyright{
    color: #AAA;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}

/* videos */

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    position: relative;
    max-width: 900px;
    outline: none;
}



.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}
